<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Veterinaria App</title>

</head>
<body>
  <header>
    <h1>Veterinaria App</h1>
  </header>

  <nav>
    <ul>
      <li><a link="/">Inicio</a></li>
      <li><a routerLink="/add-patient">Agregar Paciente</a></li>
      <li><a routerLink="/add-appointment">Asignar Cita</a></li>
      <li><a routerLink="/">Listar Pacientes</a></li>
    </ul>
  </nav>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>

  </footer>


</body>
</html>

